.book{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 25px;
}

.bookInfo{
    width: 50%;
    height: 100%;
    display: inline-block;
}

.bookControls{
    width: 30%;
    display: inline-block;
    padding-top: 10px;
}

.bookCopies{
    width: 20%;
    display: inline-block;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
}

.deleteBtn{
    background-color: red;
}

.deleteBtn:hover{
    border: 2px solid red;
}

button:hover{
    background-color: white;
    color: black;
    padding: 3px 8px;
    border: 2px solid #4CAF50; /* Green */
    cursor: pointer;
}