.book{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 25px;
}

.bookInfo{
    width: 50%;
    height: 100%;
    display: inline-block;
}

.bookControls{
    text-align: center;
    width: 30%;
    height: 50%;
    /*display: inline-block;*/
    /*padding-top: 10px;*/
    margin-left: 35%;
}

.bookCopies{
    width: 20%;
    display: inline-block;
}